@font-face {
	font-family: TechnoviaCaps;
	src: url(../fonts/technott.ttf);
}

@font-face {
	font-family: SpirequalLight;
	src: url(../fonts/spireq_l.ttf);
}

@font-face {
	font-family: Abel;
	src: url(../fonts/Abel-Regular.ttf);
}

body {
	margin: 0px;
	background-color: #111;
}

h1 {
	color: #111;
	font-size: 8;
}

h2 {
	font-family: TechnoviaCaps;
	font-size: 50px;
	margin: 0px;
	text-align: center;
	color: #fff;
}

h3 {
	font-family: Abel;
}

p {
	font-family: SpirequalLight;
	color: #4f4;
    word-wrap: break-word;
}

.menu-bar {
    width: 100%;
    position: fixed;
    z-index: 9;
    background: #222;
	display: -webkit-flex;
    display: flex;
    justify-content: center;
}

.menu-item a {
    float: left;
    transition: background 0.4s;
}

.menu-item a:hover {
    background: #777;
}

.menu-item a {
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-family: TechnoviaCaps;
    padding: 20px;
}

.banner {
	background-color: rgba(16, 16, 16, 0.4);
    position: absolute;
    top: 120px;
	left: 10%;
}

.title {
	padding: 0px 10px 20px 10px;
	margin-top: -10px;
}

.title h1 {
	font-family: TechnoviaCaps;
	font-size: 50px;
	color: #1e1;
	text-shadow: 1px 1px 0px #000;
}

.title .logo {
	font-size: 50px;
	color: #1e1;
	text-shadow: 1px 1px 0px #000;
	-webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-moz-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-ms-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-o-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	text-decoration: none;
}

.title .logo .underline {
	border-bottom: 2px solid #141;
}

.title .jobtitle {
	font-size: 32px;
	color: #ddd;
}

.section-title {
	padding: 30px;
    background-color: #ccc;
}

.section-title h2 {
    color: #111; 
}

.project {
	height: 210px;
	width: 300px;
    float: left;
	background-color: #111;
	display: inline-block;
	margin: 10px;
	transition: background-color 0.7s, height 0.5s, 
		width 0.5s, color 0.5s,
	    opacity 0.5s;
	text-decoration: none;
	text-shadow: 0px 0px #000;
    color: #ddd;
	text-align: center;
	opacity: 1;
}

.project a img {
	width: 100%;
	margin: 0px;
	margin-bottom: -4px;
	transition: opacity 0.7s;
}

.project h3 {
	position: relative;
	top: 0px;
	left: 0px;
	background: #040404;
	padding: 9px;
	margin: 0px;
	font-weight: normal;
	font-size: 30px;
	text-decoration: none;
	text-transform: uppercase;
}

.project .text-back {
	position: relative;
	top:  -75%;
	left: -130px;
	color: #fff;
	transition: opacity 0.4s, left 0.5s, top 0.5s;
	background: rgba(10, 10, 10, 0.6);
	padding: 30px 15px 30px 15px;
	opacity: 0;
	width: 533.33px;
	transform: translate(0, -50%)
}

.project .text-back {
	font-size: 30px;
	word-wrap: break-word;
	color: #fff;
}

.project:hover {
	background-color: #222;
	height: 300px;
	width: 533.33px;
	/*text-shadow: 0px 25px #000;*/
}

.project:hover .text-back {
	opacity: 1;
	top:  -75%;
	left: -15px;
}

.project:hover img {
	opacity: 0.3;
}

/* ID's */

#banner-spacer {
	height: 0px;
}

#top {
    height: auto;
    margin: 0px 0 50px 0;
    width: 100%;
	display: -webkit-flex;
    display: flex;
    justify-content: center;
}

#current-project {
	margin-top: 120px;
	height: 780px;
	max-width: 100%;
	overflow: hidden;
}

#current-project-picture {
	max-width: 100%;
	margin: -150px, auto;
}

#profile-img {
	margin-left: 15%;
	width: 50%;
	/*outline: 15px rgba(0, 0, 0, 0.2) solid;*/
	box-shadow: 10px 10px 5px #222;
}

#bio {
    float: right;
	position: absolute;
	right: 10%;
	top: 140px;
}

#bio p {
	background-color: rgba(192, 192, 192, 1);
    text-align: center;
	/*text-justify: interword;*/
	width: 300px;
	font-size: 30px;
	color: #000;
	padding: 5px;
	opacity: 0.2;
	transition: opacity 0.6s;
}

#bio p:hover {
	opacity: 1;
}

#cursor {
	background: #0f0;
	margin-left: 5px;
}

#name {
	font-size: 70px;
	padding: 8px 16px 8px 16px;
}

#projects {
	padding: 100px 0px 200px 0px;
	height: 400px;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Color sections */

.dark {
	background-color: #111;
}

.darkgreen {
	background-color: #121;
}

.light {
	background-color: #ccc;
}

/* Gradient dividers */

.dark-light-div {
	background: linear-gradient(to bottom, #111, #ccc);
	height: 15px;
}

.light-dark-div {
	background: linear-gradient(to top, #111, #ccc);
	height: 15px;
}
