@font-face {
	font-family: TechnoviaCaps;
	src: url(../fonts/technott.ttf);
}

@font-face {
	font-family: SpirequalLight;
	src: url(../fonts/spireq_l.ttf);
}

body {
	background-color: #eee;
	/*background: linear-gradient(to left, #363, #111);*/
}

h {
	color: #111;
	font-size: 8;
}

p {
	font-family: SpirequalLight;
	color: #4f4;
    word-wrap: break-word;
}

.banner {
	background-color: #111;
	/*background: linear-gradient(to left, #363, #111);*/
	height:auto;
	margin: -8px -8px 0px -8px;
}

.title {
	padding: 50px 0px 20px 100px;
}

.title h {
	font-family: TechnoviaCaps;
	font-size: 50px;
	color: #1e1;
	text-shadow: 1px 1px 0px #000;
}

.title .logo {
	font-size: 50px;
	color: #1e1;
	text-shadow: 1px 1px 0px #000;
	-webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-moz-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-ms-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-o-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	text-decoration: none;
}

#name {
	font-size: 70px;
	padding: 8px 16px 8px 16px;
}

.title .logo .underline {
	border-bottom: 2px solid #141;
}

.title .logo:hover {
	text-shadow: 1px 1px 0px #381511;
}

.title .logo .underline:hover {
	border-bottom: 2px solid #fff;
	color: #fff;
}

.title .jobtitle {
	font-size: 32px;
	color: #5e5;
}

/* ID's */'

#cursor {
	background: #0f0;
	margin-left: 5px;
}

#bio {
	text-align: left;
	padding: 10px 30% 50px 30%;
	width: 40%;
	font-size: 30px;
	color: #000;
}

#projects {
	height: 600px;
}

/* Color sections */

.dark {
	background-color: #111;
	margin: 0px -8px 0px -8px;
}

.darkgreen {
	background-color: #121;
	margin: 0px -8px 0px -8px;
}

.light {
	background-color: #ccc;
	margin: 0px -8px 0px -8px;
}

/* Gradient dividers */

.dark-light-div {
	background: linear-gradient(to bottom, #111, #ccc);
	height: 15px;
	margin: 0px -8px 0px -8px;
}

.light-dark-div {
	background: linear-gradient(to top, #111, #ccc);
	height: 15px;
	margin: 0px -8px 0px -8px;
}