@font-face {
	font-family: TechnoviaCaps;
	src: url(../fonts/technott.ttf);
}

@font-face {
	font-family: SpirequalLight;
	src: url(../fonts/spireq_l.ttf);
}

body {
	background-color: #000;
}

h {
	color: #111;
	font-size: 8;
}

p {
	font-family: SpirequalLight;
	color: #4f4;
    word-wrap: break-word;
}

.banner {
	vertical-align: top;
	/*background-color: #363;*/
	background: linear-gradient(to left, #363, #111);
	height:auto;
	margin: -8px;
}

.title {
	padding: 50px 0 20px 40px;
}

.title h {
	font-family: TechnoviaCaps;
	font-size: 50px;
	color: #1e1;
	text-shadow: 1px 1px 0px #000;
}

.title .logo {
	font-size: 50px;
	color: #1e1;
	text-shadow: 1px 1px 0px #000;
	-webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-moz-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-ms-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	-o-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
	text-decoration: none;
}

.title .logo .underline {
	border-bottom: 2px solid #141;
}

.title .logo:hover {
	text-shadow: 1px 1px 0px #381511;
}

.title .logo .underline:hover {
	border-bottom: 2px solid #fff;
	color: #fff;
}

#cursor {
	background: #0f0;
	margin-left: 5px;
}

.title .jobtitle {
	font-size: 32px;
	color: #5e5;
}

.light-dark {
	background: linear-gradient(to top, #000, #333);
	margin: -8px;
	margin-top: -30px;
	text-align: center;
}

#bio {
	text-align: center;
	padding: 50px 25% 50px 25%;
	width: 50%;
	font-size: 30px;
}
